
#background-img {
    background-image: url(/image/img-mission-background.jpg);
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background-img-2 {
    background-image: url(/image/img-locations-background.jpg);
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 1000;
  }

nav{
    text-decoration:underline;
    float: right;
    text-align: right
}

nav a {
    color: seashell;
    margin: 0 20px;
    text-decoration: underline;
  }